#header {
    width: 100%;
    background-color: rgb(200, 215, 231);
    padding: 5.5px 12px;
    border-bottom: 1px solid rgba(1, 1, 1, 0.055);
}

#header > .searchItens {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header > .searchItens > .area_search {
    padding: 2px;
    display: flex;
    margin-left: -10px;
    border-radius: 8.66px;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    width: 71%;
    border: 2px solid rgba(78, 138, 249, 0.392);
    transition: ease 0.39s;
}

#header > .searchItens > .area_search > input {
    font-weight: 550;
    font-size: 1em;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#header > .searchItens > .area_search:hover {
    border: 2px solid rgb(188, 188, 249);
}

#header > .searchItens > #icon_add_list {
    color: rgb(27, 27, 216);
    margin-top: -6.5px;
    cursor: pointer;
}


#header > .searchItens > .area_search > #search_icon {
    cursor: pointer;
    margin-right: 5px;
}

#header > .searchItens > .addItemList {
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.29);
}


#header > .searchItens > .area_cart {
    cursor: pointer;
    text-align: center;
    padding: 5px;
}

.menuList {
    position: absolute;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 27px;
    top: 82px;
    right: 0;
    padding: 8px;
    width: 60%;
    border-left: 1px solid rgba(23, 45, 244, 0.303);
    border-bottom: 1px solid rgba(1, 1, 1, 0.075);
    border-bottom-left-radius: 6px;
    background-color: rgb(200, 215, 231);
}

.menuList > .section_category {
    background-color: rgba(37, 22, 80, 0.673);
    width: 88%;
    border-radius: 6px;
    min-height: 190px;
    max-height: 270px;
    padding: 8px;
}

.menuList > .section_category > .tittle_category {
    margin-top: 13px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 1.4px 1.4px 2px rgba(24, 26, 30, 0.312);
}

