main {
    padding: 10px;
    width: 100%;
    height: 100vh;
}


main > #area_list_itens {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column nowrap;
    height: 63%;
}

main > #area_list_itens > .see_your_list {
    font-size: 21px;
    margin-top: 40px;
    border-bottom: 4px solid rgba(49, 101, 153, 0.607);
    text-align: center;
    color: rgb(59, 59, 63);
    border-radius: 4px;
}

main > #area_list_itens > #cards_itens_area > .storage_list {
    background-color: rgb(47, 46, 74);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
}

main > #area_list_itens > #cards_itens_area > .storage_list > h3 {
    color: white;
    font-family: poppins, Arial, Helvetica, sans-serif;
}

main > #area_list_itens > #cards_itens_area > .storage_list > li {
    color: white;
    font-size: 1.13em;
}