.addItemList {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column nowrap;
    position: absolute;
    top: 33%;
    left: 5%;
    width: 90%;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.375);
    height: 320px;
    padding: 5px 20px;
    background-color: rgb(84, 98, 113);
}

.addItemList > h2 {
    margin-left: -19px;
    margin-top: 7px;
    font-size: 1.88em;
    color: rgb(215, 215, 252);
    text-shadow: 1.37px 1.37px 1px rgba(117, 117, 251, 0.912);
}
.addItemList > #close_icon_add_list {
    position: absolute;
    cursor: pointer;
    color: orange;
    top: 23.8px;
    right: 32px;
}

.addItemList > .input-add-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.addItemList > .input-add-list > label {
    font-weight: 500;
    border-bottom: 4px solid rgb(160, 160, 252);
    color: white;
    font-size: 20px;
}

.addItemList > .input-add-list > label .arrow-to-input {
    color: yellow;
    margin-left: 4px;
    margin-bottom: -5.5px;
}


.addItemList  > #category_area_input {
    position: absolute;
    left: 14.6px;
    top: 93px;
}

.addItemList  > #input_area_input {
    position: absolute;
    left: 65.3px;
    top: 165px;
}


.addItemList > .input-add-list > input {
    border-radius: 6px;
    padding: 12px;
    transition:  ease 0.36s;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid rgba(38, 27, 88, 0.362);
    letter-spacing: 0.25px;
}

.addItemList > .input-add-list > input::placeholder {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.858);
    text-align: center;
    font-size: 1.1em;
}

.addItemList > .input-add-list > input:focus {
    border: 1px solid rgb(129, 129, 254);
}

.addItemList > #add_adn_save_on_list {
    background-color: orange;
    position: absolute;
    top: 248px;
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.27em;
    font-weight: 550;
    text-shadow: 0px 0px 1px black;
}