.addItemList {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column nowrap;
    position: absolute;
    top: 40%;
    left: 18%;
    width: 66%;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.375);
    height: 180px;
    padding: 5px 20px;
    background-color: rgb(187, 220, 255);
}

.addItemList > h2 {
    margin-top: 15px;
    font-size: 1.75em;
    color: rgb(39, 39, 102);
    text-shadow: 1.37px 1.37px 1px rgba(117, 117, 251, 0.912);
}

.addItemList > input {
    border-radius: 6px;
    padding: 5px;
    transition:  ease 0.36s;
    outline: none;
    font-size: 1em;
    border: 2px solid rgba(38, 27, 88, 0.362);
}

.addItemList > input::placeholder {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.858);
    text-align: center;
}

.addItemList > input:focus {
    border: 2px solid rgb(110, 110, 254);
}